# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List Popular languages used in data science.
* List common libraries used in data science.
* List common tools used in data science.
* Provide examples of basic Python coding

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. matplotlib
3. pandas

|Data Science Tools|
--------------------
|Jupyter|
|RStudio|
|VS Code|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Nick DeTrempe